/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Bungee+Spice&family=Lilita+One&family=Orbitron:wght@400;500;600;700;800;900&family=Oswald:wght@300;400;500;600;700&family=Overlock+SC&family=Permanent+Marker&family=Rubik+Doodle+Shadow&family=Russo+One&family=Tektur:wght@400;500;600;700;800;900&display=swap');

/* font-family: 'Archivo Black', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Bungee Spice', sans-serif;
font-family: 'Lilita One', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Overlock SC', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Rubik Doodle Shadow', system-ui;
font-family: 'Russo One', sans-serif;
font-family: 'Tektur', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
